html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #181a1b;
  color: white;
  font-family: "Roboto", Helvetica;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(116, 115, 115);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 0, 128, 0.8);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

:root {
  --gray: #2c3333;
  --dark-blue: #395b64;
  --light-blue: #a5c9ca;
  --white: #e7f6f2;
  --black: #232931;
}

#select-sort {
  /* color: red; */
  z-index: 0;
}

/* navbar */

/* list */
.list-section {
  /* border: solid 5px green; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list-container {
  /* border: solid 5px blue; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  margin: 2rem 0rem;
  transition: all 200ms ease-in-out;
  width: 100vw;
  /* height: 800px; */
  text-align: center;
}

.list-container::-webkit-scrollbar {
  width: 0em;
}

.header-cont {
  position: relative;
  /* border: solid 5px green; */
  box-shadow: 0 0 2rem 0 rgba(167, 11, 11, 0.2);
  padding: 1rem 5rem;
  margin: 2rem;
}

.header-cont:before {
  content: "";
  position: absolute;
  /* inset: 0 100px 0px 100px; */
  /* background-color: rgba(128, 0, 128, 0.8); */
  /* box-shadow: 0 0 2rem 0 rgba(167, 11, 11, 0.2); */
  filter: blur(1px);
  border-radius: 6px;
  padding: 2rem 8rem;
  margin: 2rem;
}

/* .list-container:hover {
  border: solid 2px purple;
} */

.list-name {
  text-transform: capitalize;
  padding: 10px 0px;
  font-family: "Nunito";
  letter-spacing: 5px;
  /* border-bottom: 2px solid white; */
  /* margin-bottom: 5px; */
}

.list-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
  /* margin: 0px 10px; */
  /* border: solid 5px red; */
}

.list-item-container::-webkit-scrollbar {
  width: 0em;
}

.card-entry {
  /* border: solid 5px green; */
  margin: 10px 0px;
  min-width: 600px;
}

.location-text {
  /* background-color: red; */
  text-align: left;
  border: solid 5px red;
  margin: 0;
  padding: 0;
}

.business-name-text {
  text-align: center;
  /* border: solid 5px red; */
  font-size: 24px;
  margin: 0px;
  padding: 20px 0px 0px;
}

.business-category-text {
  text-align: center;
  /* border: solid 5px red; */
  font-size: 16px;
  margin-left: auto;
  padding: 0;
}

.notes-content-text {
  font-weight: 200;
  font-size: 12px;
  /* color: yellow; */
}

/* AddList */

.add-list-container {
  border: solid 2px transparent;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 3rem 2rem 0rem;
  transition: all 200ms ease-in-out;
}

.add-list-container:hover {
  border: solid 2px rgb(0, 162, 255);
}

.form-container {
  /* border: solid 5px green; */
  width: 80%;
}

.send-icon-btn {
  display: relative;
  color: white;
  padding: 3px;
  transition: all 200ms ease-in-out;
}

.send-icon-btn:hover {
  color: purple;
}

.send-icon-container {
  border: solid 1px transparent;
  border-radius: 5rem;
  width: 3rem;
  margin-top: 0.5rem;
  transition: all 200ms ease-in-out;
}

/* .send-icon-container:hover {
  border: solid 1px purple;
} */

.header-container {
  border: solid 5px red;
}

/* Modal */
.modal-comp-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0 0 0 0;
  margin: auto;
  position: fixed;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0 0 0 0;
  z-index: 1000;
}

.modal-container {
  position: fixed;
  position: relative;
  background-color: var(--gray);
  border-radius: 1rem;
  color: white;
  padding: 8rem 16rem;
  z-index: 1000;
}

/* .return-icon {
  background-color: red;
  position: absolute;
  margin-left: auto;
} */

.return-btn-container {
  /* background-color: red; */
  position: absolute;
  color: white;
  padding: 1rem;
  top: 0;
  right: 0;
  margin-left: auto;
}

.return-btn-container:hover {
  color: pink;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.pkmn-image {
  width: 100px;
  height: 100px;
}

.test-btn {
  background-color: blue;
  color: gray;
  width: 400px;
  height: 100px;
}
